.top {
	position: relative;
	height: inherit;
	aspect-ratio: 1 / 1;
	transition: transform 300ms;
}
.top:hover {
	transform: scale(1.1);
}

.top img {
	padding: 5px;
}

.navigation {
	height: inherit;
	width: 100%;
}

.navigation ul {
	--gap: 40px;
	
	display: flex;
	height: inherit;
	font-size: 16px;
	margin: 0 var(--gap) 0 calc(var(--gap) / 2);
	align-items: center;
	gap: var(--gap);
	text-shadow: 2px 2px 2px black;
	font-weight: bold;
}

.navigation ul li {
	color: #919495;
}
.navigation ul li:hover {
	color: #fdfdfd;
}
.navigation ul li.donation {
	height: 22px;
	border-radius: 50%;
	margin-right: auto;
	aspect-ratio: 1 / 1;
	object-fit: cover;
}
.navigation ul li.donation:hover {
	color: #ea609e;
	transform: scale(1.1);
}

.navigation ul li.search {
	height: 20px;
	border-radius: 50%;
	aspect-ratio: 1 / 1;
	object-fit: cover;
}