:root {
	/* top 1 */
	--rank-1: #ffd700;
	--rank-1-shadow: 0 0 10px rgba(255, 215, 0, 0.5);
	/* top 2 */
	--rank-2: #c0c0c0;
	--rank-2-shadow: 0 0 10px rgba(192, 192, 192, 0.5);
	/* top 3 */
	--rank-3: #cd7f32;
	--rank-3-shadow: 0 0 10px rgba(205, 127, 50, 0.5);
}

.container {
	
	/* mode selection */
	& .selection_wrapper {
		--selection-org-size: 2.188rem;
		--selection-width: 150px;
		--selection-row-height: 90px;
		
		position: fixed;
		top: 50%;
		left: 3.5%;
		background: var(--glass-bg-dark);
		height: calc(var(--selection-org-size) + 30px);
		width: calc(var(--selection-org-size) + 30px);
		border: 1px solid var(--glass-border-dark);
		border-radius: 10px;
		box-shadow: var(--glass-shadow);
		transform: translate(-50%, -50%);
		transition: left 300ms, height 300ms, width 300ms, transform 300ms;
		
		&:hover {
			@media (min-width: 1156px) {
				left: 0;
				height: calc(var(--selection-row-height) * 4 + 30px);
				width: var(--selection-width);
				transform: translateY(-50%);
			}
		}
		
		& .mode_selection {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: repeat(4, var(--selection-row-height));
			height: inherit;
			padding: 15px;
			transition: grid-template 300ms;
			
			&:hover {
				& .mode {
					visibility: visible;
					transform: unset;
					opacity: .95;
					
					&.selected_mode {
						transform: unset;
					}
					
					& .mode_name {
						visibility: visible;
						transform: unset;
						opacity: 1;
					}
				}
			}
			
			& .mode {
				visibility: hidden;
				display: grid;
				grid-template-columns: repeat(2, max-content);
				grid-template-rows: 1fr;
				grid-gap: 8px;
				position: relative;
				align-items: center;
				transform: translateY(calc(-1 * var(--selection-row-height) * (var(--n) - 1)));
				filter: invert(30%);
				opacity: 0;
				transition:
					visibility 300ms,
					grid-template 300ms,
					transform 300ms,
					filter 300ms,
					opacity 300ms;
				
				&:nth-child(1) { --n: 1; }
				&:nth-child(2) { --n: 2; }
				&:nth-child(3) { --n: 3; }
				&:nth-child(4) { --n: 4; }
				
				&.selected_mode {
					filter: invert(0%);
					opacity: 1;
					
					@media (min-width: 1156px) {
						visibility: visible;
						transform: translateY(calc(-1 * var(--selection-row-height) * (var(--n) - 1) - (var(--selection-row-height) - var(--selection-org-size)) / 2));
					}
				}
				
				&:hover {
					filter: invert(0%);
					opacity: 1;
					
					& .mode_name {
						transform: translateX(-10px);
						opacity: 0;
					}
					
					& .playstyle_selection {
						visibility: visible;
						transform: translateX(0);
						opacity: 1;
						
						@media (max-width: 1155px) {
							transform: translate(calc(-1 * 50% + var(--selection-org-size) / 2), 5px);
						}
					}
				}
				
				& i {
					cursor: pointer;
					grid-column: 1;
					font-size: 2.188rem;
				}
				
				& .mode_name {
					visibility: hidden;
					grid-column: 2;
					grid-row: 1;
					transform: translateX(-100%);
					opacity: 0;
					transition: visibility 300ms, transform 300ms, opacity 300ms;
					
					@media (max-width: 1155px) {
						display: none;
					}
				}
				
				& .playstyle_selection {
					visibility: hidden;
					display: flex;
					grid-column: 2;
					grid-row: 1;
					flex-direction: column;
					transform: translateX(-10px);
					opacity: 0;
					transition: visibility 300ms, transform 300ms, opacity 300ms;
					
					& .playstyle {
						padding: 2px 0;
						
						&.selected_playstyle a {
							filter: invert(0%);
							opacity: 1;
						}
						
						& a {
							position: relative;
							display: inline-block;
							filter: invert(30%);
							opacity: .95;
							transition: filter 300ms, opacity 300ms;
							
							&::before {
								content: "";
								position: absolute;
								bottom: 0;
								left: 0;
								height: 1px;
								width: 100%;
								border-radius: 1px;
								background: var(--text-main);
								transform: scaleX(0);
								transition: transform 300ms;
							}
							
							&:hover {
								filter: invert(0%);
								opacity: 1;
								
								&::before {
									transform: scaleX(1);
								}
							}
						}
						
						@media (max-width: 480px) {
							padding: 0;
						}
					}
					
					@media (max-width: 1155px) {
						display: grid;
						grid-template-columns: max-content;
						grid-template-rows: max-content;
						grid-auto-flow: column;
						grid-gap: 5px;
						position: absolute;
						width: max-content;
						text-align: center;
						transform: translate(calc(-1 * 50% + var(--selection-org-size) / 2), -10px);
					}
					
					@media (max-width: 480px) {
						grid-auto-flow: row;
						grid-gap: 2px;
					}
				}
				
				@media (max-width: 1155px) {
					visibility: visible;
					display: block;
					transform: unset;
					opacity: 1;
				}
			}
			
			@media (max-width: 1155px) {
				grid-template-columns: repeat(4, var(--selection-org-size));
				grid-template-rows: max-content;
				grid-gap: 30px;
				padding: 5px 20px;
				justify-content: center;
			}
		}
		
		@media (max-width: 1155px) {
			position: unset;
			width: max-content;
			height: unset;
			margin: 0 auto 70px auto;
			transform: unset;
		}
	}
	
	/* page wrapper */
	& .page_wrapper {
		--button-size: 35px;
		--button-gap: 10px;
		--display-amount: 7;
		
		display: flex;
		justify-content: center;
		align-items: center;
		gap: var(--button-gap);
		
		& > *:not(.page_list),
		& .page_list li {
			display: block;
			flex-shrink: 0;
			position: relative;
			background-color: hsla(var(--leaderboard-hue), 44%, 36%, 75%);
			height: var(--button-size);
			line-height: var(--button-size);
			width: var(--button-size);
			border-radius: 50%;
			text-align: center;
			z-index: 0;
			transition: transform 300ms;
			
			&::before {
				content: "";
				position: absolute;
				inset: 0;
				background: var(--glass-bg-dark);
				border-radius: inherit;
				box-shadow: var(--glass-box-shadow-dark);
				opacity: 1;
				z-index: -1;
				transition: opacity 300ms;
			}
			
			&::after {
				content: "";
				position: absolute;
				inset: 0;
				background: var(--glass-bg-light-hover);
				border-radius: inherit;
				box-shadow: var(--glass-box-shadow-dark);
				opacity: 0;
				z-index: -1;
				transition: opacity 300ms;
			}
			
			&:hover::after {
				opacity: 1;
			}
		}
		
		& .shift_arrow {
			@media (max-width: 346px) {
				display: none;
			}
		}
		
		& > *:not(.page_list) {
			z-index: 1;
		}
		
		& .page_list {
			--translate-x: 0;
			
			display: flex;
			align-items: center;
			gap: inherit;
			width: calc(var(--button-size) * var(--display-amount) + var(--button-gap) * (var(--display-amount) - 1));
			margin: 0 20px;
			transform: translateX(var(--translate-x));
			z-index: 0;
			transition: width 300ms, transform 300ms;
			
			& li {
				visibility: hidden;
				transform: scale(0);
				transition: visibility 300ms, transform 300ms;
				
				&.show {
					visibility: visible;
					transform: scale(1);
					
					&.current_page {
						transform: scale(1.2);
					}
				}
				
				&.current_page::after {
					opacity: 1;
				}
				
				&:not(.current_page):hover {
					transform: scale(1.1);
				}
				
				& a {
					display: block;
				}
			}
			
			@media (max-width: 346px) {
				margin: 0 10px;
			}
		}
		
		@media (max-width: 525px) {
			--display-amount: 3;
		}
		
		@media (max-width: 346px) {
			--display-amount: 1;
		}
	}
	/* table wrapper */
	& .table_wrapper {
		background: var(--glass-bg-dark);
		padding: 40px;
		border: 1px solid var(--glass-border-dark);
		border-radius: 24px;
		margin: 40px calc(7% + 8px) 40px 7%;
		box-shadow: var(--glass-shadow);
		overflow: auto;
		
		& table {
			border-collapse: separate;
			border-spacing: 0 6px;
			width: 100%;
			
			& tr {
				& th {
					color: var(--text-sub);
					font-size: 0.875rem;
					font-weight: 600;
					padding: 0 5px 15px 5px;
					border-bottom: 1px solid rgba(255, 255, 255, .1);
					text-align: center;
					letter-spacing: 1px;
					
					&.player {
						padding-left: 15px;
						text-align: left;
					}
					
					&.sorted {
						color: var(--text-main);
						font-weight: 800;
					}
				}
				
				&.ranking_row {
					position: relative;
					background-color: rgba(255, 255, 255, .02);
					transition: transform 300ms;
					
					&::after {
						content: "";
						position: absolute;
						inset: 0;
						background: var(--glass-bg-light-hover);
						border: 1px solid var(--glass-border-dark);
						border-radius: 16px;
						opacity: 0;
						z-index: -1;
						transition: opacity 500ms;
					}
					
					&:hover {
						transform: scale(1.01);
						
						&::after {
							opacity: 1;
						}
					}
				}
				
				& td {
					padding: 15px;
					vertical-align: middle;
					text-align: center;
					
					&:first-of-type {
						border-radius: 16px 0 0 16px;
					}
					
					&:last-of-type {
						border-radius: 0 16px 16px 0;
					}
					
					&:not(.rank, .country, .name) {
						color: var(--text-sub);
					}
					
					& span {
						font-size: 0.75rem;
						font-weight: 300;
					}
					
					&.rank {
						font-size: 1.25rem;
						font-weight: 500;
						
						&.top_1 {
							color: var(--rank-1);
							font-size: 1.5rem;
							font-weight: 800;
							text-shadow: var(--rank-1-shadow);
						}
						
						&.top_2 {
							color: var(--rank-2);
							font-size: 1.375rem;
							font-weight: 800;
							text-shadow: var(--rank-2-shadow);
						}
						
						&.top_3 {
							color: var(--rank-3);
							font-size: 1.375rem;
							font-weight: 800;
							text-shadow: var(--rank-3-shadow);
						}
					}
					
					&.country {
						padding-right: 5px;
						
						& i {
							font-size: 1.25rem;
						}
					}
					
					&.sorted {
						color: #ff66aa;
						font-size: 1.125rem;
						font-weight: 800;
						
						& span {
							color: var(--text-main);
							font-size: 0.75rem;
							font-weight: 300;
						}
					}
					
					@media (max-width: 768px) {
						padding: 12px 15px;
					}
					
					@media (max-width: 480px) {
						padding: 10px 15px;
					}
				}
			}
			
			& .rank {
				width: 100px;
				min-width: 100px;
				
				@media (max-width: 768px) {
					width: 96px;
					min-width: 96px;
				}
				
				@media (max-width: 480px) {
					width: 86px;
					min-width: 86px;
				}
			}
			
			& .country {
				width: 47px;
				min-width: 47px;
				
				@media (max-width: 768px) {
					width: 44px;
					min-width: 44px;
				}
				
				@media (max-width: 480px) {
					width: 40px;
					min-width: 40px;
				}
			}
			
			& .name {
				width: max-content;
				min-width: 120px;
				text-align: left;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			
			& .acc {
				width: 112px;
				min-width: 112px;
				
				@media (max-width: 768px) {
					width: 92px;
					min-width: 92px;
				}
				
				@media (max-width: 480px) {
					width: 84px;
					min-width: 84px;
				}
			}
			
			& :is(.playcount, .pp, .score) {
				width: 1em;
				min-width: 112px;
				max-width: 195px;
			}
			
			& :is(.ss_count, .s_count, .a_count) {
				width: 1em;
				min-width: 50px;
				max-width: 80px;
			}
		}
		
		@media (max-width: 1236px) {
			padding: 40px 5px;
		}
		
		@media (max-width: 1155px) {
			margin: 40px 0;
		}
		
		@media (max-width: 768px) {
			padding: 30px 5px;
		}
	}
}