.country-flag {
	cursor: default !important;
	position: relative;
	font-family: "Noto_Sans", sans-serif;
	
	& i {
		border-radius: 15%;
		transition: transform 300ms;
		
		.country-flag:hover & {
			transform: scale(1.1);
		}
	}
	
	& .tooltip {
		position: absolute;
		left: 50%;
		bottom: 60%;
		background-color: #17171c;
		color: #fdfdfd;
		font-size: 0.7em;
		line-height: 10px;
		width: auto;
		padding: 8px;
		border-radius: 10px;
		margin-bottom: 8px;
		text-align: center;
		opacity: 0;
		z-index: 1;
		transform: translateX(-50%);
		transition: bottom 300ms, opacity 300ms;
		
		.country-flag:hover & {
			bottom: 100%;
			opacity: 1;
		}
	}
}