/* page */
body.home::-webkit-scrollbar-track {
	background-color: #fdfdfd;
}
body.home::-webkit-scrollbar-thumb {
	background-color: #2e293d;
}

header.home.scrolled,
header.leaderboard.scrolled {
	background-color: #345c84;
}

header.leaderboard.scrolled .navigation ul .leaderboard {
	background-color: #6495ed;
	color: #fdfdfd;
}

header.home.scrolled .navigation ul li:not(.donation):hover,
header.leaderboard.scrolled .navigation ul li:not(.donation):hover {
	background-color: #6495ed;
}
/* header */
header {
	--header-height: 80px;
	
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	height: var(--header-height);
	width: 100%;
	padding-left: 7%;
	padding-right: 8%;
	z-index: 100;
	transition: background-color 300ms, height 300ms, padding 300ms;
}
header.scrolled {
	--header-height: 60px;
	
	height: var(--header-height);
	padding: 0 5%;
}

header .top {
	position: relative;
	height: inherit;
	aspect-ratio: 1 / 1;
	transition: transform 300ms;
}

header .top:hover {
	transform: scale(1.1);
}

header .top img {
	padding: 10px;
	transition: padding 300ms;
}
header.scrolled .top img {
	padding: 5px;
}

header .navigation {
	height: inherit;
	width: 100%;
}

header .navigation ul {
	display: grid;
	grid-template-rows: var(--header-height);
	grid-template-columns: repeat(3, 120px) repeat(2, var(--header-height)) repeat(2, auto);
	grid-gap: 30px;
	justify-items: center;
	align-items: center;
	font-size: 16px;
	font-weight: bold;
}

header .navigation ul li {
	color: #919495;
	border-radius: calc(var(--header-height) / 2);
	text-shadow: 2px 2px 2px black;
	transition: background-color 300ms, color 300ms, text-shadow 300ms;
}
header .navigation ul li:hover {
	color: #fdfdfd;
}
header.scrolled .navigation ul li:hover {
	text-shadow: 2px 2px 5px black;
}

header .navigation ul li a {
	display: block;
	transition: padding 300ms;
}
header .navigation ul li:not(.donation) a {
	padding: 15px 5px;
}
header.scrolled .navigation ul li:not(.donation) a {
	padding: 15px;
}

header .navigation ul li.donation {
	height: 22px;
	border-radius: 50%;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	filter: drop-shadow(2px 2px 2px black);
	transition: color 300ms, transform 300ms;
}
header .navigation ul li.donation:hover {
	color: #ea609e;
	transform: scale(1.1);
}

header .navigation ul li.search {
	--inner-height: 20px;
	--margin-space: 8px;
	
	cursor: pointer;
	height: calc(var(--inner-height) + 2 * var(--margin-space));
	padding: var(--margin-space);
	border-radius: 50%;
	aspect-ratio: 1 / 1;
	object-fit: cover;
}

header .navigation ul li.search i {
	filter: drop-shadow(2px 2px 2px black);
}
/* ------------------------------------------------- */
main {
	height: 2000px;
}

img {
	object-fit: cover;
}

.banner {
	position: fixed;
	top: 0;
	left: 0;
	height: 230px;
	width: 100%;
	filter: blur(3px);
	z-index: -1;
}