:root {
	/* glass */
	/* light */
	--glass-bg-light: linear-gradient(
		135deg,
		rgba(255, 255, 255, 0.24) 0%,
		rgba(255, 255, 255, 0.17) 50%,
		rgba(255, 255, 255, 0.06) 100%
	);
	--glass-border-light: rgba(255, 255, 255, 0.3);
	--glass-text-shadow-light:
		0 0 1px currentColor,
		0 1px 2px rgba(0, 0, 0, 0.25),
		0 -1px 0 rgba(255, 255, 255, 0.5);
	--glass-svg-shdow-light: 0 -1px 1px rgba(255, 255, 255, 0.5);
	/* dark */
	--glass-bg-dark: linear-gradient(
		135deg,
		rgba(10, 10, 16, 0.7) 0%,
		rgba(10, 10, 16, 0.6) 60%,
		rgba(180, 180, 180, 0.08) 100%
	);
	--glass-border-dark: rgba(255, 255, 255, 0.03);
	/* ----- */
	--glass-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
	--glass-hover: rgba(255, 255, 255, 0.06);
}

/* body */
body {
	&::-webkit-scrollbar-track {
		background-color: #fdfdfd;
	}
	
	&:is(.home, .leaderboard)::-webkit-scrollbar-thumb {
		background-color: #2e293d;
	}
}
/* header */
header {
	--header-height: 70px;
	
	display: grid;
	grid-template-columns: var(--header-height) 1fr;
	grid-template-rows: 1fr;
	grid-gap: 0 15px;
	position: fixed;
	top: 0;
	left: 0;
	height: var(--header-height);
	width: 100%;
	padding-left: 7%;
	padding-right: 8%;
	border-bottom: 1px solid var(--glass-border-light);
	box-shadow: var(--glass-shadow);
	backdrop-filter: blur(5px);
	z-index: 1000;
	transition:
		grid-template 300ms,
		background-color 300ms,
		height 300ms,
		padding 300ms,
		border 300ms,
		backdrop-filter 300ms;
	
	&::before {
		content: "";
		position: absolute;
		inset: 0;
		background: var(--glass-bg-light);
		opacity: 1;
		z-index: -2;
		transition: opacity 300ms;
	}
	
	&::after {
		content: "";
		position: absolute;
		inset: 0;
		background: var(--glass-bg-dark);
		opacity: 0;
		z-index: -1;
		transition: opacity 300ms;
	}
	
	/* header.scrolled */
	&.scrolled {
		--header-height: 60px;
		
		height: var(--header-height);
		padding-left: 5%;
		padding-right: 6%;
		border-bottom: 1px solid var(--glass-border-dark);
		backdrop-filter: blur(20px);
		
		&::before {
			opacity: 0;
		}
		
		&::after {
			opacity: 1;
		}
		
		@media (max-width: 940px) {
			padding: 0;
		}
	}
	/* header.home, header.leaderboard */
	&:is(.home, .leaderboard) {
		&.scrolled {
			background-color: rgba(52, 92, 132, 0.3);
		}
		
		@media (max-width: 845px) {
			background-color: #345c84;
		}
	}
	/* header .top-bar */
	& .top-bar {
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr;
		grid-gap: 0 5px;
		height: inherit;
		width: 100%;
		justify-items: center;
		align-items: center;
		transition: box-shadow 300ms;
		
		& > * {
			&:not(.top) {
				display: none;
				
				@media (max-width: 845px) {
					display: unset;
				}
			}
			
			&:is(.donation, .search) {
				margin: 0 10px;
			}
		}
		
		& .top {
			display: block;
			position: relative;
			height: inherit;
			aspect-ratio: 1 / 1;
			transition: transform 300ms;
			
			& img {
				padding: 5px;
				transition: padding 300ms;
			}
			
			&:hover {
				transform: scale(1.1);
			}
		}
		
		& .page-title {
			margin-right: auto;
			
			@media (max-width: 845px) {
				grid-column: 2;
			}
		}
		
		@media (max-width: 845px) {
			grid-template-columns: var(--header-height) 1fr repeat(2, max-content);
			box-shadow: 0 5px 5px black;
			z-index: 1;
		}
	}
	/* header .navigation */
	& .navigation {
		width: 100%;
		
		& ul {
			--mobile-height: calc(var(--header-height) - 10px);
			
			display: grid;
			grid-template-rows: var(--header-height);
			grid-template-columns: repeat(4, max-content) 1fr repeat(2, max-content);
			grid-gap: 0 10px;
			font-size: 16px;
			justify-items: center;
			align-items: center;
			transition: grid-template-rows 300ms, grid-gap 300ms;
			
			header.scrolled & {
				grid-gap: 0 30px;
				
				@media (max-width: 845px) {
					grid-gap: 0;
					justify-items: start;
				}
			}
			
			header:is(.home, .leaderboard) & {
				@media (max-width: 845px) {
					background-color: #24222a;
				}
			}
			
			&:has(.avatar) {
				@media (max-width: 845px) {
					grid-template-rows: repeat(4, 45px);
				}
			}
			
			& li {
				font-weight: bold;
				border-radius: calc(var(--header-height) / 2);
				text-shadow: var(--glass-text-shadow-light);
				transition:
					background-color 300ms,
					color 300ms,
					font-weight 300ms,
					text-shadow 300ms,
					transform 300ms;
				
				header.scrolled & {
					color: #fdfdfd;
					font-weight: normal;
					text-shadow: unset;
					
					&:hover {
						text-shadow: 2px 2px 5px black;
					}
				}
				
				&:not(.donation) {
					&:hover {
						color: #fdfdfd;
					}
					
					& a {
						padding: 15px;
						
						@media (max-width: 845px) {
							height: inherit;
							padding: 0;
						}
					}
				}
				
				header:is(.home, .leaderboard) & {
					color: #23282d;
					
					&:not(.donation):hover {
						background-color: rgba(10, 10, 16, 0.4);
						
						@media (max-width: 845px) {
							background-color: rgb(65, 105, 225, 0.3);
						}
					}
				}
				
				header.scrolled:is(.home, .leaderboard) &:not(.donation):hover {
					background-color: #6495ed;
				}
				
				header.scrolled.leaderboard &.leaderboard {
					background-color: #6495ed;
					color: #fdfdfd;
					text-shadow: 2px 2px 5px black;
				}
				
				&.donation {
					@media (max-width: 845px) {
						display: none;
					}
				}
				
				&.search {
					margin-left: auto;
					
					@media (max-width: 845px) {
						display: none;
					}
				}
				
				header:is(.home, .leaderboard) &:is(.register, .sign-in) {
					@media (max-width: 845px) {
						color: #6495ed;
					}
				}
				
				header:is(.home, .leaderboard) &:is(.register, .sign-in, .avatar) {
					@media (max-width: 845px) {
						background-color: #35364d;
					}
				}
				
				&:is(.register, .avatar) {
					@media (max-width: 845px) {
						grid-row: 1 / 2;
					}
				}
				
				&.sign-in {
					@media (max-width: 845px) {
						grid-row: 2 / 3;
					}
				}
				
				& a {
					display: block;
				}
				
				@media (max-width: 845px) {
					height: var(--mobile-height);
					line-height: var(--mobile-height);
					width: 100%;
					border-radius: unset;
				}
			}
			
			@media (max-width: 845px) {
				grid-template-rows: repeat(5, var(--mobile-height));
				grid-template-columns: 1fr;
				grid-gap: 0;
				justify-items: start;
			}
		}
	}
	/* header .donation */
	& .donation {
		color: #919495;
		height: 21px;
		aspect-ratio: 1 / 1;
		object-fit: cover;
		
		&:hover {
			color: #ea609e;
			transform: scale(1.1);
		}
		
		& a i {
			filter: drop-shadow(var(--glass-svg-shdow-light));
		}
	}
	/* header .search */
	& .search {
		--inner-height: 20px;
		--margin-space: 8px;
		
		cursor: pointer;
		height: calc(var(--inner-height) + 2 * var(--margin-space));
		padding: var(--margin-space);
		border-radius: 50%;
		aspect-ratio: 1 / 1;
		object-fit: cover;
		
		& i {
			filter: drop-shadow(var(--glass-svg-shdow-light))
		}
	}
	/* -------------- */
	@media (max-width: 940px) {
		padding: 0;
	}
	
	@media (max-width: 845px) {
		--header-height: 60px;
		
		grid-template-columns: 1fr;
		grid-template-rows: var(--header-height) max-content;
		box-shadow: 0 5px 5px black;
	}
}
/* ------------------------------------------------- */
.banner {
	position: fixed;
	top: 0;
	left: 0;
	height: 230px;
	width: 100%;
	filter: blur(3px);
	z-index: -1;
}

main {
	height: 2000px;
}

img {
	object-fit: cover;
}
/* ------------------------------------------------- */