:root {
	/* glass */
	/* light */
	/* ---- bg */
	--glass-bg-light: linear-gradient(
		135deg,
		rgba(255, 255, 255, .24) 0%,
		rgba(255, 255, 255, .17) 50%,
		rgba(255, 255, 255, .06) 100%
	);
	--glass-bg-light-hover: linear-gradient(
		135deg,
		rgba(255, 255, 255, 0.34) 0%,
		rgba(255, 255, 255, 0.26) 50%,
		rgba(255, 255, 255, 0.12) 100%
	);
	/* ---- border */
	--glass-border-light: rgba(255, 255, 255, .3);
	/* ---- shadow */
	/* -------- text */
	--glass-text-shadow-light:
		0 0 1px currentColor,
		0 1px 2px rgba(0, 0, 0, .25),
		0 -1px 0 rgba(255, 255, 255, .5);
	--glass-text-shadow-light-hover:
		0 0 1px currentColor,
		0 1px 2px rgba(0, 0, 0, .55),
		0 -1px 0 rgba(255, 255, 255, .6);
	/* -------- svg */
	--glass-svg-shadow-light: 0 -1px 1px rgba(255, 255, 255, .5);
	--glass-svg-shadow-light-hover: 0 -1px 1px rgba(255, 255, 255, .6);
	/* -------- box */
	--glass-box-shadow-light:
		0 15px 35px rgba(0, 0, 0, .5),
		inset 0 1px 0 rgba(255, 255, 255, .2);
	/* dark */
	/* ---- bg */
	--glass-bg-dark: linear-gradient(
		135deg,
		rgba(8, 8, 14, .75) 0%,
		rgba(10, 10, 16, .65) 70%,
		rgba(20, 30, 50, .2) 100%
	);
	/* ---- border */
	--glass-border-dark: rgba(255, 255, 255, .03);
	/* ---- shadow */
	/* -------- text */
	--glass-text-shadow-dark:
		0 3px 8px rgba(0, 0, 0, .6),
		0 -1px 0 rgba(255, 255, 255, .18);
	/* -------- svg */
	--glass-svg-shadow-dark: 0 1px 2px rgba(0, 0, 0, .5);
	--glass-svg-shadow-dark-hover: 0 1px 2px rgba(0, 0, 0, .6);
	/* -------- box */
	--glass-box-shadow-dark:
		0 15px 35px rgba(0, 0, 0, .5),
		inset 0 1px 0 rgba(255, 255, 255, .3),
		0 1px 6px rgba(255, 255, 255, .2);
	/* ----- */
	--glass-shadow: 0 8px 32px 0 rgba(0, 0, 0, .3);
}

/* body */
body {
	&::-webkit-scrollbar-track {
		background-color: #fdfdfd;
	}
	
	&:is(.home, .leaderboard)::-webkit-scrollbar-thumb {
		background-color: #2e293d;
	}
}
/* header */
header {
	--header-height: 70px;
	
	display: grid;
	grid-template-columns: var(--header-height) 1fr;
	grid-template-rows: 1fr;
	grid-gap: 0 15px;
	position: fixed;
	top: 0;
	left: 0;
	height: var(--header-height);
	width: 100%;
	padding-left: 7%;
	padding-right: 8%;
	border-bottom: 1px solid var(--glass-border-light);
	box-shadow: var(--glass-shadow);
	backdrop-filter: blur(7px);
	z-index: 1000;
	transition-property:
		grid-template,
		background-color,
		height,
		padding,
		border,
		backdrop-filter;
	transition-duration: 300ms;
	
	&::before {
		content: "";
		position: absolute;
		inset: 0;
		background: var(--glass-bg-light);
		opacity: 1;
		z-index: -2;
		transition: opacity 300ms;
	}
	
	&::after {
		content: "";
		position: absolute;
		inset: 0;
		background: var(--glass-bg-dark);
		opacity: 0;
		z-index: -1;
		transition: opacity 300ms;
	}
	
	/* header.scrolled */
	&.scrolled {
		--header-height: 60px;
		
		height: var(--header-height);
		padding-left: 5%;
		padding-right: 6%;
		border-bottom: 1px solid var(--glass-border-dark);
		backdrop-filter: blur(15px);
		
		&::before {
			opacity: 0;
		}
		
		&::after {
			opacity: 1;
		}
		
		@media (max-width: 940px) {
			padding: 0;
		}
	}
	/* header.home, header.leaderboard */
	&:is(.home, .leaderboard) {
		&.scrolled {
			background-color: rgba(52, 92, 132, .5);
		}
		
		@media (max-width: 845px) {
			background-color: rgba(52, 92, 132, .5);
			
			&::before {
				opacity: 0;
			}
			
			&::after {
				opacity: 1;
			}
		}
	}
	/* header .top-bar */
	& .top-bar {
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr;
		grid-gap: 0 5px;
		height: inherit;
		width: 100%;
		justify-items: center;
		align-items: center;
		transition: box-shadow 300ms;
		
		& > * {
			&:not(.top) {
				display: none;
				
				@media (max-width: 845px) {
					display: unset;
				}
			}
		}
		
		& .top {
			display: block;
			position: relative;
			height: inherit;
			aspect-ratio: 1 / 1;
			transition: transform 300ms;
			
			& img {
				padding: 5px;
				transition: padding 300ms;
			}
			
			&:hover {
				transform: scale(1.1);
			}
		}
		
		& .page-title {
			margin-right: auto;
			
			@media (max-width: 845px) {
				grid-column: 2;
			}
		}
		
		& .donation {
			margin: 0 10px;
		}
		
		& .search {
			margin: 0 5px;
		}
		
		& .arrow {
			margin-left: 5px;
			margin-right: 10px;
		}
		
		@media (max-width: 845px) {
			grid-template-columns: var(--header-height) 1fr repeat(3, max-content);
			box-shadow: 0 5px 5px black;
			z-index: 1;
		}
	}
	/* header .navigation */
	& .navigation {
		width: 100%;
		
		& ul {
			--mobile-height: calc(var(--header-height) - 10px);
			
			display: grid;
			grid-template-rows: var(--header-height);
			grid-template-columns: repeat(4, max-content) 1fr repeat(2, max-content);
			grid-gap: 0 10px;
			font-size: 16px;
			justify-items: center;
			align-items: center;
			transition: grid-template-rows 300ms, grid-gap 300ms;
			
			header.scrolled & {
				grid-gap: 0 30px;
				
				@media (max-width: 845px) {
					grid-gap: 0;
					justify-items: start;
				}
			}
			
			header:is(.home, .leaderboard) & {
				@media (max-width: 845px) {
					background-color: #24222a;
				}
			}
			
			&:has(.avatar) {
				@media (max-width: 845px) {
					grid-template-rows: repeat(4, 45px);
				}
			}
			
			& li {
				position: relative;
				color: #23282d;
				font-family: "Inter", sans-serif;
				font-weight: 600;
				border-radius: calc(var(--header-height) / 2);
				text-shadow: var(--glass-text-shadow-light);
				transition-property:
					background-color,
					color,
					font-weight,
					text-shadow,
					box-shadow,
					filter,
					transform;
				transition-duration: 300ms;
				transition-timing-function: cubic-bezier(.4,0,.2,1);
				
				&::before {
					content: "";
					position: absolute;
					inset: 0;
					background: var(--glass-bg-light-hover);
					border-radius: inherit;
					opacity: 0;
					z-index: -1;
					transition: background 300ms, opacity 500ms;
				}
				
				header.scrolled & {
					color: #b0b0c0;
					text-shadow: var(--glass-text-shadow-dark);
					
					&:not(.donation) {
						box-shadow: var(--glass-box-shadow-dark);
					}
					
					&:hover {
						color: #fdfdfd;
					}
				}
				
				&:not(.donation) a {
					padding: 15px;
					
					@media (max-width: 845px) {
						height: inherit;
						padding: 0;
					}
				}
				
				&:hover {
					text-shadow: var(--glass-text-shadow-light-hover);
					filter: brightness(1.05);
					transform: translateY(-2px);
					
					&:not(.donation) {
						box-shadow: var(--glass-box-shadow-light);
						
						&::before {
							opacity: 1;
						}
					}
				}
				
				header:is(.home, .leaderboard) &:not(.donation):hover {
					@media (max-width: 845px) {
						background-color: rgb(65, 105, 225, .3);
					}
				}
				
				header.leaderboard &.leaderboard {
					text-shadow: var(--glass-text-shadow-light-hover);
					box-shadow: var(--glass-box-shadow-light);
					filter: brightness(1.05);
					
					&::before {
						background: var(--glass-bg-light-hover);
						opacity: 1;
					}
				}
				header.scrolled.leaderboard &.leaderboard {
					color: #fdfdfd;
					text-shadow: var(--glass-text-shadow-dark);
				}
				
				header.documents &.documents {
					text-shadow: var(--glass-text-shadow-light-hover);
					box-shadow: var(--glass-box-shadow-light);
					filter: brightness(1.05);
					
					&::before {
						background: var(--glass-bg-light-hover);
						opacity: 1;
					}
				}
				header.scrolled.documents &.documents {
					color: #fdfdfd;
					text-shadow: var(--glass-text-shadow-dark);
				}
				
				&.donation {
					@media (max-width: 845px) {
						display: none;
					}
				}
				
				&.search {
					margin-left: auto;
					
					@media (max-width: 845px) {
						display: none;
					}
				}
				
				header:is(.home, .leaderboard) &:is(.register, .sign-in) {
					@media (max-width: 845px) {
						color: #6495ed;
					}
				}
				
				header:is(.home, .leaderboard) &:is(.register, .sign-in, .avatar) {
					@media (max-width: 845px) {
						background-color: #35364d;
					}
				}
				
				&:is(.register, .avatar) {
					@media (max-width: 845px) {
						grid-row: 1 / 2;
					}
				}
				
				&.sign-in {
					@media (max-width: 845px) {
						grid-row: 2 / 3;
					}
				}
				
				& a {
					display: block;
				}
				
				@media (max-width: 845px) {
					height: var(--mobile-height);
					line-height: var(--mobile-height);
					width: 100%;
					border-radius: unset;
				}
			}
			
			@media (max-width: 845px) {
				grid-template-rows: repeat(5, var(--mobile-height));
				grid-template-columns: 1fr;
				grid-gap: 0;
				justify-items: start;
			}
		}
	}
	/* header .donation */
	& .donation {
		color: #b0b0c0;
		height: 21px;
		aspect-ratio: 1 / 1;
		object-fit: cover;
		transition: color 300ms, transform 300ms;
		
		&:hover {
			color: #ea609e !important;
			transform: translateY(-1px) scale(1.1) !important;
		}
		
		& a i {
			filter: drop-shadow(var(--glass-svg-shadow-light));
			transition: filter 300ms;
			
			header .donation:hover & {
				filter: drop-shadow(0 1px 2px rgba(0, 0, 0, .6));
				
				@media (max-width: 845px) {
					filter: drop-shadow(0 -1px 2px rgba(255, 255, 255, .6));
				}
			}
			header.scrolled .donation & {
				filter: drop-shadow(var(--glass-svg-shadow-dark));
			}
			header.scrolled .donation:hover & {
				filter: drop-shadow(var(--glass-svg-shadow-light-hover));
			}
		}
	}
	/* header .search */
	& *:is(.search, .arrow) {
		--inner-height: 20px;
		--margin-space: 8px;
		
		cursor: pointer;
		position: relative;
		color: #b0b0c0;
		height: calc(var(--inner-height) + 2 * var(--margin-space));
		padding: var(--margin-space);
		border-radius: 50%;
		aspect-ratio: 1 / 1;
		object-fit: cover;
		transition: color 300ms;
		
		&::before {
			content: "";
			position: absolute;
			inset: 0;
			background: var(--glass-bg-light-hover);
			border-radius: inherit;
			opacity: 0;
			z-index: -1;
			transition: background 300ms, opacity 500ms;
		}
		
		&:hover {
			color: #fdfdfd;
			box-shadow: var(--glass-box-shadow-light);
			
			&::before {
				opacity: 1;
			}
			
			header.scrolled & {
				box-shadow: var(--glass-box-shadow-dark);
			}
		}
		
		& i {
			filter: drop-shadow(var(--glass-svg-shadow-light));
			
			@media (max-width: 845px) {
				filter: drop-shadow(var(--glass-svg-shadow-dark));
			}
		}
		
		@media (max-width: 845px) {
			box-shadow: var(--glass-box-shadow-dark);
		}
	}
	/* -------------- */
	@media (max-width: 940px) {
		padding: 0;
	}
	
	@media (max-width: 845px) {
		--header-height: 60px;
		
		grid-template-columns: 1fr;
		grid-template-rows: var(--header-height) max-content;
		box-shadow: 0 5px 5px black;
	}
}
/* ------------------------------------------------- */
.banner {
	position: fixed;
	top: 0;
	left: 0;
	height: 230px;
	width: 100%;
	filter: blur(3px);
	z-index: -1;
}

main {
	height: 2000px;
}

img {
	object-fit: cover;
}
/* ------------------------------------------------- */