aside.menu {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #000;
	height: 100%;
	box-shadow: 3px 0 5px #363636;
}

aside.menu ul {
	display: flex;
	flex-direction: column;
}

aside.menu ul li {
	cursor: pointer;
	background-color: #333333;
	height: 50px;
	line-height: 50px;
	width: 200px;
	border-radius: 30px;
	margin: 10px 20px 0 20px;
	text-align: center;
	transition: background-color 300ms, color 300ms;
}

aside.menu ul li:first-child {
	margin-top: 20px;
}

aside.menu ul li:hover {
	background-color: #505050;
}

aside.menu ul li a {
	display: block;
	width: inherit;
}