.tooltip-element {
	cursor: pointer;
	position: relative;
	
	& .tooltip {
		cursor: default;
		pointer-events: none;
		line-height: 10px;
		width: auto;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		padding: 8px;
		border-radius: 10px;
		background-color: #17171c;
		font-size: .8em;
		color: #fdfdfd;
		text-align: center;
		white-space: nowrap;
		opacity: 0;
		z-index: 1;
		transition: bottom 300ms, opacity 300ms;
		
		.tooltip-element.up & {
			bottom: 50%;
			margin-bottom: 8px;
		}
		.tooltip-element.up:hover & {
			bottom: 80%;
			opacity: 1;
		}
		
		.tooltip-element.down & {
			bottom: 0;
		}
		.tooltip-element.down:hover & {
			bottom: -50%;
			opacity: 1;
		}
		
		&.bubble::before {
			content: "";
			width: 0;
			height: 0;
			border: 10px solid transparent;
			border-top: 12px solid #17171c;
			position: absolute;
			top: 80%;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}